<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://obj2022-iot-http-trigger20220511163325.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b5b37a7d-adc4-417f-bc4d-dde7eb9d5a84/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/Obj2022-IOT-http-trigger20220511163325</ResourceId>
    <UserName>$Obj2022-IOT-http-trigger20220511163325</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://obj2022-iot-http-trigger20220511163325.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>